$brand-font: "Cinzel", serif;
$body-font: "Jost", sans-serif;
$accent-color: #dc3545;

%link-shared { color: $accent-color; }

@media screen and (max-width: 767px) {
    #mobile-identifier {
        display: inline;
        color: #6c757d;
    }
}

@media screen and (min-width: 768px) {
    #mobile-identifier { display: none; }
}

#brand {
    font-family: $brand-font;
    &:hover { @extend %link-shared; }
}

.col-sm {
    margin: 15px;
}

.col-sm-6 {
    margin-top: 10px;
}

.in-text-link {
    @extend %link-shared;
    &:hover {
        @extend %link-shared;
        text-decoration: overline;
    }
}

.card-link {
    color: #212529;
    &:hover { @extend %link-shared; }
}

.stretched-link {
    &:hover {
        @extend %link-shared;
        text-decoration: none;
    }
}

.index-card {
    .card {
        font-weight: 400;
        text-align: center;
        .stretched-link {
            color: #212529;
            &:hover { @extend %link-shared; }
        }
        &:hover {
        border-color: $accent-color;
        }
    }
}

%btn-shared {
    background-color: $accent-color;
    border-color: $accent-color;
}

.btn {
    background-color: #343a40;
    border-color: #343a40;
    &:active, &:hover, &:not(:disabled):not(.disabled):active { @extend %btn-shared; }
    &:focus, &:focus-within, &:not(:disabled):not(.disabled):active:focus {
        @extend %btn-shared;
        box-shadow: 0 0 0 .2rem rgba(220,53,69,.5)
    }
}

nav {
    li {
    font-family: $body-font;
    font-weight: 400;
    }
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 300;

    .display-4 { font-weight: 500; }
}

div h1 {
    color: #343a40;
}
